.datePicker,
.dateRangerPicker,
.multiDatePicker {
  .dp__input {
    height: rem(44);
    border: 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  .dp__action_buttons {
    text-wrap: nowrap;
  }
}

.v-picker {
  .v-date-picker-controls,
  .v-date-picker-years,
  .v-date-picker-months {
    .text-primary {
      color: #000000de !important;
    }
  }
  .v-btn--active {
    .v-btn__content {
      color: #fff !important;
    }
  }
}
