.formGrp {
  label {
    font-weight: 500;
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  &.datePick {
    .tilde {
      display: flex;
      align-items: center;
      padding: 0;
      @include screen('mobile') {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }
  &.checkboxGrp {
    .item {
      .v-input {
        border-radius: 0.25rem;
        padding: 0 0.5rem;
        border: 1px solid #acacac;

        &:has(.text-white) {
          border: 1px solid transparent;
          background: $blue-gradient;
          color: #fff;
          .v-label {
            opacity: 1;
          }
          .v-selection-control__input {
            i {
              opacity: 1;
              background: unset;
              color: #fff;
              font-size: 1rem;
              border-radius: 0.3rem;
            }
          }
        }
        &.v-input--density-default {
          --v-input-control-height: unset;
        }
        .v-selection-control__wrapper {
          width: 30px;
        }
        .v-selection-control__input {
          i {
            background: #dadada;

            color: #dadada;
            font-size: 0.75rem;
            border-radius: 0.1rem;
          }
        }
      }
      .v-selection-control .v-label {
        margin-left: 0;
      }
      .checkboxHasSelect {
        border: 1px solid #ccc;
        border-radius: 0.25rem;
        .v-select {
          margin-bottom: 0.2rem;
        }
        &:has(.text-white) {
          border: 1px solid transparent;
          background: $secondary-gradient;
          .v-select {
            color: #fff;
          }
        }
        > .v-input {
          border: none;
          background: unset;
        }
      }
    }
  }
  .necessary {
    color: $error;
    text-decoration: none;
  }
  .v-messages {
    font-size: 0.875rem;

    .v-messages__message {
      line-height: 1rem;
    }
  }
  .infoBox {
    border: 1px solid #9d9d9d;
    border-radius: 0.25rem;
    padding: 0.5rem;
    small {
      display: block;
      text-align: end;
    }
    ul {
      li {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
.v-field--variant-filled .v-field__overlay {
  opacity: 0 !important;
}
input:-internal-autofill-selected {
  background: #fff !important;
}
.v-field--disabled {
  opacity: 0.5 !important;
}
.paymentForm,
.boardForm {
  > .v-container {
    .formGrp {
      > div:has(label) {
        &:first-child {
          width: 150px;
          flex-basis: 150px;
          flex-grow: unset;
        }
      }
    }
  }
}
.v-col.labelWidth {
  width: 150px;
  flex-basis: 150px;
  flex-grow: unset;
}
.inputText-end {
  input {
    text-align: end;
  }
}
