table {
  thead {
    white-space: nowrap;
  }
  // .v-data-table__td {
  //   background: #dadfe0;
  // }
}
.dataTable {
  .v-card-title {
    .v-input {
      flex: unset;
    }
  }
  .truncateStyle {
    max-width: 100px;
  }
  .tableTitle {
    width: 200px;
  }
  .chip {
    margin-top: 0.5rem;
    display: flex;
    width: fit-content;
  }
}
.infoCard {
  max-width: 200px !important;
}
.v-overlay {
  &.v-tooltip {
    .v-overlay__content {
      max-width: 200px !important;
    }
  }
}
.dataTableTitle {
  position: relative;
  h4 {
    margin-top: 1rem;
  }
  .v-input {
    position: absolute;
    right: 0;
    top: 0.25rem;
  }
  @include screen('notebook') {
    .v-input {
      position: relative;
      top: 0.75rem;
    }
  }
}
.v-data-table {
  background: unset !important;
  thead {
    background: $gray-gradient;
    color: #fff;
    th {
      font-weight: bolder;
      font-size: 16px;
      &:hover {
        color: #fff !important;
      }
    }
  }
  tbody {
    tr {
      td {
        border-bottom: unset !important;
      }
      &:nth-child(even) {
        background: #fff;
      }
      &:nth-child(odd) {
        background: #f7f7f7;
      }
    }
  }
  .v-select,
  .v-input {
    .v-input__control {
      // font-size: 0.9rem;
      option,
      .v-label,
      .v-field,
      .v-field__input {
        // font-size: 0.9rem;
      }
    }
  }
  .downBtn {
    font-size: 0.8rem;
  }
  .pagination {
    margin-top: 2rem;
    .v-input {
      width: 65px;
      flex: unset;
    }
    .v-input__control {
      width: 65px;
    }
    .v-btn__content {
      font-size: 1rem;
    }
  }
}
.paymentTable {
  &.v-data-table tbody tr {
    &:nth-child(odd),
    &:nth-child(even) {
      &:hover {
        background: darken(#f7f7f7, 1%);
        cursor: pointer;
      }
    }
  }
  &.v-data-table {
    thead {
      tr {
        th {
          &:last-child {
            padding-right: 2rem;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          &:last-child {
            padding-right: 2rem;
          }
        }
      }
    }
  }
}
.tableHover {
  &.v-data-table tbody tr {
    &:nth-child(odd),
    &:nth-child(even) {
      &:hover {
        background: darken(#f7f7f7, 1%);
        cursor: pointer;
      }
    }
  }
}
.smallBtn {
  .v-btn__content {
    margin-bottom: 0.2rem;
    font-size: 0.9rem;
  }
}
.necessary {
  color: $error;
}
.invoiceTable {
  margin: 1.5rem 0;
  table {
    border-spacing: 0;
    thead {
      background: $gray-gradient;
      color: #fff;
      td {
        padding: 0;
      }
    }
    tbody {
      tr {
        &:nth-child(odd) {
          background: $gray;
        }
      }
    }
    width: 100%;
    tr {
      height: 3rem;
      border: 1px solid;
    }
    td {
      text-align: center;

      &.num {
        text-align: end;
        padding: 0 0.5rem;
      }
    }
  }
  .footer {
    background: $gray;
    td {
      padding: 0 2rem;
      text-align: end;
      span {
        margin-right: 1rem;
        font-weight: 600;
      }
    }
  }
}
