.v-theme--default {
  --v-table-row-height: 64px !important;
}

.v-table--density-default > .v-table__wrapper > table > tbody > tr > th,
.v-table--density-default > .v-table__wrapper > table > thead > tr > th,
.v-table--density-default > .v-table__wrapper > table > tfoot > tr > th {
  height: --v-table-row-height;
}
.v-table {
  border-radius: 0 !important;
  font-size: 1em !important;
  line-height: 1.25rem !important;
  color: $gray2 !important;
}
