* {
  font-family: 'Noto Sans TC', sans-serif;
  ul {
    list-style: none;
    padding-left: 0;
  }
  a {
    text-decoration: none;
  }
  input,
  select {
    border-radius: 0.25rem !important;
  }
}
//左側選單
.navDrawer {
  padding-left: rem(16);
  &.v-navigation-drawer {
    background-color: unset;
    border: 0;
    height: calc(100% - 80px) !important;
    top: 80px !important;
  }
  @include screen('notebook') {
    padding-left: rem(0);
    &.v-navigation-drawer {
      background-color: #008be6;
    }
  }
  > .v-navigation-drawer__content {
    display: flex;
    flex-direction: column;

    .v-list {
      flex-grow: 1;
      overflow-y: scroll;
      .v-list-item__spacer {
        display: none;
      }
      .v-list-item--nav {
        padding-inline: 16px;
      }
      .v-list-item--nav:not(:only-child) {
        background: #fff;
      }
      .v-list-group__items {
        .v-list-item--nav:not(:only-child) {
          // background-color: unset;
          background: rgba(0, 85, 188, 0.6);

          min-height: 40px !important;
          &.v-list-item--active {
            background: #0055bc;
          }
          .v-list-item-title {
            color: #fff;
            font-weight: 800;
          }
        }
      }
    }
    .v-list-item {
      border-radius: 6px;
      + .v-list-group__items {
        .v-list-item {
          height: rem(35);
          padding-inline-start: 12px !important;
          padding: 4px 8px;
          .v-list-item-title {
            margin-left: rem(24);
            font-weight: 400;
          }
        }
      }
      .v-list-item__prepend {
        color: $primary;
        > .v-icon {
          opacity: 1;
        }
      }
    }
  }

  .v-list-item__content {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    margin-left: 0.5rem;
    .v-list-item-title {
      line-height: 1.5em;
      font-size: 1.125rem;
      color: $primary;
      font-weight: 700;
    }
  }
  .drawerBtn {
    position: absolute;
    display: flex;
    justify-content: center;
    right: -30px;
    top: calc(50vh - 60px);
    // background: $defaultBg;
    width: rem(60);
    height: rem(60);
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 0px 3px;
    span {
      transition: 0.5s all;
      margin-left: 0.5rem;
      // color: $defaultPrimary;
      font-size: 3rem;
      transform: rotate(180deg);
    }
  }
}
.searchBtn {
  color: #fff !important;
  font-size: rem(16) !important;
  font-weight: 600;
  min-width: 110px !important;
  border-radius: 1.5rem !important;
  margin-bottom: 1.5rem;
}
.searchContent {
  .subtitle {
    margin: 0 1.2rem;
    margin-bottom: 1rem;
  }
}
//header
.logoImg {
  display: flex;
  margin-left: rem(24);
  align-items: center;
  .logo {
    width: 100px;
  }
  h1 {
    color: #fff;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
    margin-left: 1.5rem;
    font-weight: 600;
    span {
      padding-left: 2rem;
      position: relative;
      letter-spacing: 0rem;
      font-weight: 900;
      &::before {
        position: absolute;
        content: '';
        height: 26px;
        width: 1.5px;
        top: 8px;
        background-color: #fff;
        left: 12px;
      }
    }
  }
  @include screen('notebook') {
    .logo {
      // width: 60px;
      margin-right: 0.75rem;
    }
    h1 {
      font-size: 1.5rem;
      margin-left: 0;
      span {
        &::before {
          height: 20px;
        }
      }
    }
  }
  @include screen('tablet') {
    margin-left: 0rem;
    h1 {
      font-size: 1.25rem;
      letter-spacing: normal;
      span {
        &::before {
          top: 5px;
        }
      }
    }
  }
  @include screen('mobile') {
    .logo {
      display: none;
    }
    h1 {
      span {
        padding-left: 1.25rem;
        &::before {
          left: 8px;
        }
      }
    }
  }
  @media screen and (max-width: 520px) {
    h1 {
      span {
        display: block;
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
  }
  // @include screen('xs_mobile') {
  //   background-color: #008be6;
  //   h1 {
  //     font-size: 0.9rem;
  //   }
  // }
}
//使用者登入資訊
.userInfo {
  display: flex;
  color: #fff;
  margin-right: rem(48);
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  font-weight: 800;
  letter-spacing: 0.15rem;
  > div {
    padding: 0.5rem 1rem;
    min-width: 110px;
    text-align: center;
    border-radius: 1.25rem;
    // line-height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include screen('notebook') {
    margin-right: 1rem;
    > div {
      font-size: 0.75rem;
      min-width: unset;
      white-space: nowrap;
    }
  }
}
//左側選單點擊收起
.navDrawer.hidden {
  @include screen('notebook') {
    width: 0 !important;
  }
  > .v-navigation-drawer__content {
    .logoImg {
      margin: rem(30) rem(10);
      .logo {
        + h1 {
          display: none;
        }
      }
      + .v-list {
        width: unset;
      }
    }
    .v-list-group {
      .v-list-item {
        .v-list-item__content {
          justify-content: center;
          .v-list-item-title {
            display: none;
          }
          img {
            width: rem(24);
            height: rem(24);
            margin-right: 0;
          }
        }
        .v-list-item__append {
          display: none;
        }
        + .v-list-group__items {
          display: none;
        }
      }
    }
  }
  .userInfo {
    margin-bottom: 1.5rem;
    padding: 0.25rem;
    .v-avatar,
    ul {
      display: none;
    }
  }
  .drawerBtn {
    span {
      transform: rotate(0deg);
    }
  }
}
.menuBtn {
  .v-btn__content {
    color: #fff;
    font-size: 1.5rem;
  }
}
//color
.bg-secondary-gradient {
  background: $secondary-gradient !important;
}
.bg-primary-gradient {
  background: $primary-gradient !important;
}
.bg-light-gradient {
  background: $light-gradient !important;
}
.bg-gray-gradient {
  background: $gray-gradient !important;
}

// 手機版本開合設定
.v-application {
  background: url('@/assets/images/bg.jpg') no-repeat !important;
  background-size: cover !important;
  background-position: top right;
  background-attachment: fixed !important;
}
.v-app-bar {
  .v-toolbar__content {
    height: 80px !important;
  }
  &.v-toolbar {
    background: url('@/assets/images/header.jpg') no-repeat !important;
    box-shadow: none !important;
    background-size: cover !important;
    background-position: center right;
    justify-content: center;
    @media screen and (max-width: 1200px) {
      background-size: initial !important;
    }
  }
}

main {
  @media (min-width: 1280px) {
    > div .v-container {
      max-width: 1400px;
    }
  }
  @include screen('notebook') {
    padding: 0 !important;
    padding-top: rem(64) !important;
    width: 100% !important;
  }
}
header {
  @include screen('notebook') {
    left: 0 !important;
    width: 100% !important;
  }
}

.v-btn.btn {
  min-width: 120px;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: unset !important;
}

.v-main {
  padding-top: 80px !important;
  > div {
    background: #f5fafe;
    border-radius: 16px;
    margin: 0.5rem 1rem 1rem 1rem;
    > .v-container {
      padding: 1rem 3rem;
      &:has(.content) {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 104px);
        .content {
          overflow: auto;
          flex-grow: 1;
          + .btnList {
            flex-shrink: 0;
          }
        }
      }
      .btnList {
        .btn {
          margin: 0 0.5rem;
        }
      }
    }
  }
  h2 {
    margin: 1rem 0 1.5rem 0;

    &.title {
      font-size: 1.75rem;
      font-weight: 800;
      + .dateInfo {
        margin-top: -1.5rem;
        font-weight: 500;
        margin-bottom: 1rem;
      }
    }
  }
}
.subtitle {
  font-size: rem(20);
  position: relative;
  padding-left: 1.2rem;
  border-bottom: 2px solid;
  border-image-source: linear-gradient(to right, #1444ae, #06aafc);
  border-image-slice: 1;
  padding-bottom: 0.3rem;

  &::before {
    position: absolute;
    content: '';
    background: url(@/assets/images/titleIcon.png) no-repeat center center;
    background-size: contain;
    width: 12px;
    height: 24px;
    top: 5px;
    left: 0;
  }
  .moreBtn {
    height: 24px !important;
    border-radius: 0.25rem !important;
    min-width: 28px;
    padding: 0 2px;
    margin: auto;
    span {
      font-size: 1.5rem;
    }
  }
  .v-chip {
    margin-bottom: 0.25rem;
  }
}
.underlineTitle {
  border-bottom: 1px solid $primary;
  font-size: 1rem !important;
  + .checkboxGrp {
    line-height: 1rem;
    .v-input--density-default {
      --v-input-control-height: 24px;
    }
    .v-selection-control__wrapper {
      height: 1.5rem;
      .v-selection-control__input {
        > .v-icon {
          font-size: 1.2rem;
          &:not(.mdi-checkbox-marked) {
            opacity: 0.2;
          }
        }
      }
    }
    .v-label {
      font-size: 0.9rem;
    }
  }
}
.loginPage {
  background: url('@/assets/images/login_bg.png') no-repeat center bottom;
  .loginCard {
    margin-top: calc((100vh - 520px) / 2);
    .v-sheet {
      padding: rem(54);
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
    }
    .v-divider {
      opacity: 0.35;
    }
    .v-form {
      .v-img {
        height: rem(50);
      }
      .v-field__prepend-inner {
        align-items: center;
        padding-top: 0;
        i {
          font-size: 1.75rem;
          color: #088dea;
          opacity: 1;
        }
      }
      .v-input__control {
        border-radius: 0.5rem;
        background: $light2-gradient;
        position: relative;
        padding: 1px;
        &::before {
          background: $blue-gradient;
          width: 100%;
          position: absolute;
          content: '';
          height: 52px;
          top: 0px;
          z-index: 0;
          left: 0px;
          border-radius: 0.55rem;
        }
      }
      input {
        height: rem(50);
        &::placeholder {
          color: $gray3;
          opacity: 0.9;
        }
      }
      .v-field {
        color: rgba(63, 202, 253, 0.7);
        background: $light2-gradient;
      }
    }
    .btn {
      width: 100%;
      height: rem(54) !important;
    }
    .verifyGrp {
      .v-img {
        margin-left: 0.5rem;
      }
    }
    @include screen('mobile') {
      margin: 1rem;
      margin-top: calc((100vh - 500px) / 2);
      h2 {
        line-height: 1.75rem;
      }
      .v-sheet {
        padding: rem(40);
      }
    }
    @include screen('xs_mobile') {
      .verifyGrp {
        display: block !important;
        .v-input {
          margin-bottom: 0.5rem;
        }
        .v-img {
          margin-left: 0;
          height: auto;
        }
      }
    }
  }
}
.frontLogin {
  min-height: 100vh;
  > div {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .title {
    color: #f5fafe;
    justify-content: center;
    .v-img {
      max-width: 25%;
      margin-right: 5%;
    }
    span {
      font-size: 2.5rem;
      font-weight: 600;
      min-width: calc(100% - 200px);
    }
    white-space: nowrap;
    text-align: justify;
    text-align-last: justify;
  }
  h2 {
    color: #fef469;
    font-size: 2.75rem;
    font-weight: 800;
    text-align: justify;
    text-align-last: justify;

    padding-bottom: 1rem;
    border-bottom: #fff 1px solid;
  }
  .languageBtn {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-weight: 800;
    border: #a7a7a7 1px solid;
  }
  .infoList {
    background: url('@/assets/images/front_login_bg.jpg') no-repeat bottom left;
    background-size: cover;
    justify-content: center;
    width: 48%;
    .v-container {
      max-width: 700px;
      padding: 2rem;
    }
    h3 {
      color: #fff;
      font-weight: 800;
      line-height: 2rem;
      margin-bottom: 1.5rem;
    }
    .list {
      > li {
        margin-bottom: 1.5rem;
        font-weight: 900;
        color: #fff;
      }
      .listTitle {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
        color: #fef469;
        font-size: 1.1rem;
        font-weight: 900;
        span[class^='material-symbols'] {
          margin-right: 0.5rem;
        }
        + ul {
          margin-left: 2.5rem;
          padding-left: 1rem;
          line-height: 1.8rem;
          li {
            list-style: disc;
            font-weight: 700;
          }
        }
      }
    }
  }
  .memberList {
    width: 52%;
    justify-content: center;
    > div {
      width: 50%;
    }

    .v-radio {
      label {
        width: 100%;
        top: 0;
        position: absolute;
        left: 0;
        font-size: 0;
      }
      .v-selection-control__wrapper {
        flex-direction: row-reverse;
        width: 100%;
        height: 100%;
      }
      .v-selection-control__input {
        position: relative;
        .v-icon {
          background: #d0d0d0;
          border-radius: 50%;
          opacity: 1;
          color: #d0d0d0;
        }
        &::after {
          display: none;
          content: '';
          position: absolute;
          width: 24px;
          height: 24px;
          background: url('@/assets/images/input_icon.png');
        }
      }
      .label {
        width: 100%;
        color: $gray2;
        font-weight: 500;
        font-size: 1.2rem;
        opacity: 1;
      }
      display: block;
      padding-left: 18%;
      height: rem(160);
      &:has(.mdi-radiobox-marked) {
        background: $blue-gradient;
        .label {
          color: #fff;
        }
        .v-selection-control__input {
          &::after {
            display: block;
          }
        }
      }
    }

    .v-card {
      border: 1px solid #ccc;
    }
    .loginBtn {
      font-size: 1.3rem;
      font-weight: 800;
      padding: 0rem;

      height: rem(60);
    }
  }
  @include screen('desktop') {
    .infoList {
      .v-container {
        padding: 2rem;
        .title {
          span {
            min-width: 70%;
          }
        }
      }
    }
    .memberList {
      .v-radio {
        padding: 1rem;
      }
    }
  }
  @include screen('notebook') {
    .infoList,
    .memberList {
      width: 100%;
      padding: 2rem;
    }
    .memberList {
      > div {
        width: 85%;
      }
    }
    .languageBtn {
      color: #fff !important;
    }
  }
  @include screen('tablet') {
    .infoList {
      .v-container {
        padding: 2rem 0 0 0;
        .title {
          span {
            font-size: 2rem;
          }
        }
        h2 {
          font-size: 2rem;
        }
      }
    }
  }
}
#front {
  .navDrawer {
    .v-navigation-drawer__content {
      .v-list {
        .hasSubtitle {
          .v-list-item-subtitle {
            font-weight: 500;
            color: $gray2;
            opacity: 1;
          }
          .v-list-item__content {
            display: flex;
            flex-wrap: wrap;
            padding-left: 2rem;
            span {
              left: 10px;
              position: absolute;
            }
          }
        }
        .v-list-item--nav {
          padding-inline: 8px;
          padding-inline-start: 10px;
          min-height: 60px !important;
        }
        .v-list-item__content {
          margin-left: 0;
        }
      }
    }
  }
  .loginBtn {
    color: #fff;
    font-weight: 800;
    min-width: 100px;
    height: 34px;
    font-size: 1rem;
    .material-symbols-outlined {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
